:root {
  --light-text-color: #6a6b6b;
  --dark-text-color: #232322;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family:
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif;
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.logo {
  & img {
    width: 100px;
  }
}

.options {
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;

  div {
    padding: 12px 18px;

    a {
      color: gray;
      text-decoration: none;
    }

    &:hover {
      background-color: #eeeeee;
      border-radius: 20px;
      padding: 12px 18px;
    }
  }
}

.personal {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;

  & a {
    text-decoration: none;
    color: var(--dark-text-color);
  }
}

.preferences {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 20px;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border: 1px solid darkgray;
  padding: 10px;
  border-radius: 25px;

  & img:first-child {
    width: 16px;
  }

  & img:last-child {
    width: 25px;
    border-radius: 50%;
  }
}

.search-bar {
  border: 0.5px solid darkgray;
  width: 50%;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-radius: 32px;

  div {
    display: flex;
    gap: 3px;

    span:first-child {
      font-size: 12px;
      font-weight: 600;
      color: var(--dark-text-color);
    }

    span:last-child {
      font-size: 14px;
      color: red;
      color: var(--light-text-color);
    }
  }
}

.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 32px;
}

.booking-dates {
  display: flex;
  align-items: center;

  div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.add-guests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;

  div {
    display: flex;
    flex-direction: column;
  }
}

.search-button {
  height: 48px;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 50%;
}
